In [1]:
import pandas as pd
import os

In [2]:
stock_prices = pd.read_csv('dataset/historical_stock_prices2048.csv')

In [3]:
stock_prices.shape

(20973889, 8)

In [4]:
stock_prices.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [5]:
size = os.path.getsize('dataset/historical_stock_prices2048.csv')

In [6]:
def bytes_to_mb(size):
    print(round(size / (1024 * 1024), 2))

In [7]:
bytes_to_mb(size)

1909.97

In [8]:
dataset_sizes2 = [0.125, 0.25, 0.5, 2]
dataset_sizes = [2]

In [9]:
for size in dataset_sizes:
    print(round(stock_prices.shape[0] * size))

41947778

In [10]:
def sample_all_sizes(dataset):
    for size in dataset_sizes:
        n_rows = round(dataset.shape[0] * size)
        sampled_df = dataset.sample(n=n_rows, random_state=42, replace=True)
        filename = 'dataset/historical_stock_prices{}.csv'.format(int(size*2048))
        sampled_df.to_csv(filename, index=False)

In [11]:
df_small = stock_prices.sample(n=5, random_state=42, replace=True)
df_small

,ticker,open,close,adj_close,low,high,volume,date
16094478,ARCI,4.890000,4.620000,4.620000,4.510000,4.970000,54500,2012-03-07
13315092,PTR,154.490005,153.279999,110.399284,151.899994,154.910004,847000,2008-02-28
2234489,SSFN,5.256630,5.256630,3.225943,5.256630,5.256630,500,2000-05-16
14586186,LALT,22.261999,22.382999,22.281929,22.240000,22.382999,5800,2017-03-22
9628519,SGYP,5.200000,5.160000,5.160000,5.150000,5.330000,1916200,2016-10-14

In [ ]:
sample_all_sizes(stock_prices)