In [2]:
import pandas as pd

In [3]:
import datetime as dt

In [4]:
import dask.dataframe as dd

In [4]:
stock_prices = pd.read_csv("dataset/historical_stock_prices.csv")

In [5]:
stocks = pd.read_csv("dataset/historical_stocks_clean.csv")

In [7]:
stock_prices

         ticker   open  close  adj_close    low   high   volume        date
0           AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1           AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2           AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3           AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4           AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14
...         ...    ...    ...        ...    ...    ...      ...         ...
20973884    NZF  14.60  14.59  14.590000  14.58  14.62   137500  2018-08-20
20973885    NZF  14.60  14.58  14.580000  14.57  14.61   151200  2018-08-21
20973886    NZF  14.58  14.59  14.590000  14.57  14.63   185400  2018-08-22
20973887    NZF  14.60  14.57  14.570000  14.57  14.64   135600  2018-08-23
20973888    NZF  14.60  14.69  14.690000  14.59  14.69   180900  2018-08-24

[20973889 rows x 8 columns]

In [8]:
stock_prices['date'] = pd.to_datetime(stock_prices['date'])

In [9]:
filterdate = stock_prices[stock_prices['date'].dt.year == 2010]

In [10]:
filtered = filterdate[filterdate['ticker'] == 'FCX']

In [11]:
vol = filtered['volume'].sum()
vol

6891808600

In [12]:
filtered2 = filterdate[filterdate['ticker'] == 'DWDP']

In [13]:
vol2 = filtered2['volume'].sum()
vol2

2636375000

In [14]:
vol - vol2

4255433600

Trying Dask out-of-core dataset merge (can't get Jupyter to use more memory)

https://stackoverflow.com/questions/37756991/best-way-to-join-two-large-datasets-in-pandas

In [5]:
stock_prices = dd.read_csv("dataset/historical_stock_prices.csv")

In [6]:
stocks = dd.read_csv("dataset/historical_stocks_clean.csv")

In [7]:
# Merge the csv files.
joined = dd.merge(stock_prices, stocks, how='inner', on=['ticker'])

In [8]:
#joined.drop(['adj_close', 'exchange', 'name', 'industry'], axis=1)

In [9]:
# Write the output.
joined.to_csv('dataset/merged_stocks.csv', index=False)

['/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/00.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/01.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/02.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/03.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/04.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/05.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/06.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/07.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/08.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/09.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/10.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/11.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/12.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/13.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/14.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/15.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/16.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/17.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/18.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/19.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/20.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/21.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/22.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/23.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/24.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/25.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/26.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/27.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/28.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/29.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/30.part',
 '/home/alex/git/big-data-first-project/dataset/merged_stocks.csv/31.part']

In [ ]:
#df_joined = joined.compute()